* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #85FFBD;
  background-image: linear-gradient(45deg, #85FFBD 0%, #FFFB7D 100%);
  font-family: 'Cabin', sans-serif;
}

.main-Tittle{
  font-size: 55px;
  font-weight: bold;
  text-align: center;
}
.main-Subtitle{
  text-align: center;
}

/*Menu*/

.main-Nav{
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 20px;
  background-color: black;
}
li{
  list-style: none;
  cursor: pointer;
}
a{
  text-decoration: none;
  list-style: none;
  color: white;
  
}
/*Middle */

.middle-title{
  
  text-align: center;
  padding-top: 50px;
}
.news-container{
  display: flex;
  justify-content: space-around;
  text-align: center;
}
p{
  font-size: 14px;
}
img{
  width: 90%;
  height: 70%;
}
button{
  padding: 8px;
  background-color: black;
  color: white;
  cursor: pointer;
  border-radius: 8px;

}
button:hover{
  background-color: white;
  color: black;
  
}
/*Center Main*/
.Img-center{
  width: 100%;
  
}
.Img-tittle{
 
 font-size: 20px;
 color: white;
 display: flex;
 position:absolute;
}

