@media(max-width: 520px){
 .main-Tittle{
   font-size: 35px;
   font-weight: bolder;

 }
 .main-Subtitle{
   font-size: 15px ;
 }
 .news-container{
    flex-wrap: wrap;
 }
 .main-Nav{
    
    flex-direction:column;
    top: 0;
    align-items: center;
    gap: 1rem;
 }
 .img-tittle{
    align-items: center;
 }

 .Aboutp{
   text-align: justify;
   color: black;
   font-size: 16px;
   padding: 10px;
   background-color: white;
   border: white solid;
   border-radius: 30px;
 }
 .AboutPhoto{
  width: 80px;


 }
 .About-title{
  padding-bottom: 60px;
 }
}
    
